# 编译后的class文件
*.class

# 日志文件
*.log

# BlueJ文件
*.ctxt

# 移动工具（J2ME）
mtj.tmp/

# 包文件
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 虚拟机崩溃日志
hs_err_pid*
replay_pid*

# Eclipse项目文件
classpath
project
settings/

# IntelliJ IDEA项目文件
*.iml
*.ipr
*.iws
idea/

# Maven目标目录
target/

# Gradle构建目录
build/
gradle/

# 输出目录
**/out/
Out/